*.DS_Store

# Godot-specific ignores
.agents/*
.godot/
.import/
export.cfg
Other/*

# VScode ignores
.vscode

# Build output
exports/

# Secrets
desolate_frontiers.keystore

# Godot Android build template
android/build/
!android/build/.gdignore

# re-include Android Godot plugins
!android/plugins/**/*.aar

# Plugin junk
.gradle/
build/

# Addon bin/ directories: ignore everything, then whitelist the specific
# binary artifacts we DO want to commit (.aar, .xcframework, .framework, .gdip)
# We use recursive patterns to allow nested /release/ or /debug/ folders.
addons/*/bin/**
!addons/*/bin/**/
!addons/*/bin/**/*.aar
!addons/*/bin/**/*.a
!addons/*/bin/**/*.gdip

# Whitelist framework contents but allow internal ignores
!addons/*/bin/**/*.framework/
!addons/*/bin/**/*.framework/**
!addons/*/bin/**/*.xcframework/
!addons/*/bin/**/*.xcframework/**

# Ignore framework internal clutter (docs, headers) wherever they appear in the bundle
addons/*/bin/**/doc_classes/**
addons/*/bin/**/Headers/**
addons/*/bin/**/private/**

# iOS ignores (keep plugins, ignore generated Xcode projects)
ios/*
!ios/.gdignore
!ios/plugins/

# iOS plugin binaries
!ios/plugins/**/*.a
!ios/plugins/**/*.xcframework
!ios/plugins/**/*.gdip
